In [10]:
import pandas as pd  # data munching and data wrangling
import mlxtend  # python lib for data science tasks 
from mlxtend.frequent_patterns import apriori, association_rules

In [14]:
import pandas as pd 
df= pd.read_csv(r"C:\Users\halge\Downloads\Retail_Data.csv")

In [15]:
df.head()

   trans_id product_1 product_2 product_3
0         1      Milk     Bread      Eggs
1         2     Bread    Butter      Eggs
2         3      Milk    Butter     Bread
3         4     Bread      Milk      Eggs
4         5      Milk      Eggs     Bread

In [18]:
# making a truth table
df1 = pd.get_dummies(df)
df2 = df1.iloc[:,1:].astype(int)
df2.head()  # if the customer has purchased then true if not false

,product_1_Bread,product_1_Butter,product_1_Milk,product_2_Bread,product_2_Butter,product_2_Eggs,product_2_Milk,product_3_Bread,product_3_Butter,product_3_Eggs
0,0,0,1,1,0,0,0,0,0,1
1,1,0,0,0,1,0,0,0,0,1
2,0,0,1,0,1,0,0,1,0,0
3,1,0,0,0,0,0,1,0,0,1
4,0,0,1,0,0,1,0,1,0,0

In [19]:
frequent_items = apriori(df2,min_support = 0.05 , use_colnames = True)
frequent_items

C:\Users\halge\myenv\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                                           itemsets
0       0.3                                  (product_1_Bread)
1       0.2                                 (product_1_Butter)
2       0.5                                   (product_1_Milk)
3       0.3                                  (product_2_Bread)
4       0.3                                 (product_2_Butter)
5       0.2                                   (product_2_Eggs)
6       0.2                                   (product_2_Milk)
7       0.3                                  (product_3_Bread)
8       0.1                                 (product_3_Butter)
9       0.6                                   (product_3_Eggs)
10      0.2                (product_2_Butter, product_1_Bread)
11      0.1                  (product_2_Milk, product_1_Bread)
12      0.3                  (product_3_Eggs, product_1_Bread)
13      0.1                (product_2_Bread, product_1_Butter)
14      0.1                 (product_2_Milk, product_1_Butter)
15      0.2                 (product_3_Eggs, product_1_Butter)
16      0.2                  (product_1_Milk, product_2_Bread)
17      0.1                 (product_1_Milk, product_2_Butter)
18      0.2                   (product_2_Eggs, product_1_Milk)
19      0.3                  (product_3_Bread, product_1_Milk)
20      0.1                 (product_3_Butter, product_1_Milk)
21      0.1                   (product_1_Milk, product_3_Eggs)
22      0.1                (product_3_Butter, product_2_Bread)
23      0.2                  (product_2_Bread, product_3_Eggs)
24      0.1                (product_3_Bread, product_2_Butter)
25      0.2                 (product_2_Butter, product_3_Eggs)
26      0.2                  (product_3_Bread, product_2_Eggs)
27      0.2                   (product_2_Milk, product_3_Eggs)
28      0.2  (product_3_Eggs, product_2_Butter, product_1_B...
29      0.1  (product_2_Milk, product_3_Eggs, product_1_Bread)
30      0.1  (product_2_Bread, product_3_Eggs, product_1_Bu...
31      0.1  (product_2_Milk, product_3_Eggs, product_1_But...
32      0.1  (product_3_Butter, product_1_Milk, product_2_B...
33      0.1  (product_2_Bread, product_1_Milk, product_3_Eggs)
34      0.1  (product_3_Bread, product_1_Milk, product_2_Bu...
35      0.2  (product_3_Bread, product_2_Eggs, product_1_Milk)

In [20]:
rules = association_rules(frequent_items, metric ="lift", min_threshold = 1)
type(rules) 
rules.shape

(78, 14)

In [21]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(product_2_Butter),(product_1_Bread),0.3,0.3,0.2,0.666667,2.222222,1.0,0.11,2.100000,0.785714,0.500000,0.523810,0.666667
1,(product_1_Bread),(product_2_Butter),0.3,0.3,0.2,0.666667,2.222222,1.0,0.11,2.100000,0.785714,0.500000,0.523810,0.666667
2,(product_2_Milk),(product_1_Bread),0.2,0.3,0.1,0.500000,1.666667,1.0,0.04,1.400000,0.500000,0.250000,0.285714,0.416667
3,(product_1_Bread),(product_2_Milk),0.3,0.2,0.1,0.333333,1.666667,1.0,0.04,1.200000,0.571429,0.250000,0.166667,0.416667
4,(product_3_Eggs),(product_1_Bread),0.6,0.3,0.3,0.500000,1.666667,1.0,0.12,1.400000,1.000000,0.500000,0.285714,0.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,"(product_3_Bread, product_1_Milk)",(product_2_Eggs),0.3,0.2,0.2,0.666667,3.333333,1.0,0.14,2.400000,1.000000,0.666667,0.583333,0.833333
74,"(product_2_Eggs, product_1_Milk)",(product_3_Bread),0.2,0.3,0.2,1.000000,3.333333,1.0,0.14,inf,0.875000,0.666667,1.000000,0.833333
75,(product_3_Bread),"(product_2_Eggs, product_1_Milk)",0.3,0.2,0.2,0.666667,3.333333,1.0,0.14,2.400000,1.000000,0.666667,0.583333,0.833333
76,(product_2_Eggs),"(product_3_Bread, product_1_Milk)",0.2,0.3,0.2,1.000000,3.333333,1.0,0.14,inf,0.875000,0.666667,1.000000,0.833333
77,(product_1_Milk),"(product_3_Bread, product_2_Eggs)",0.5,0.2,0.2,0.400000,2.000000,1.0,0.10,1.333333,1.000000,0.400000,0.250000,0.700000

In [23]:
rules[(rules["lift"]>=2)&
(rules["confidence"]>=0.6) & (rules["support"]>=0.2) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(product_2_Butter),(product_1_Bread),0.3,0.3,0.2,0.666667,2.222222,1.0,0.11,2.10,0.785714,0.500000,0.523810,0.666667
1,(product_1_Bread),(product_2_Butter),0.3,0.3,0.2,0.666667,2.222222,1.0,0.11,2.10,0.785714,0.500000,0.523810,0.666667
14,(product_2_Eggs),(product_1_Milk),0.2,0.5,0.2,1.000000,2.000000,1.0,0.10,inf,0.625000,0.400000,1.000000,0.700000
16,(product_3_Bread),(product_1_Milk),0.3,0.5,0.3,1.000000,2.000000,1.0,0.15,inf,0.714286,0.600000,1.000000,0.800000
17,(product_1_Milk),(product_3_Bread),0.5,0.3,0.3,0.600000,2.000000,1.0,0.15,1.75,1.000000,0.600000,0.428571,0.800000
28,(product_3_Bread),(product_2_Eggs),0.3,0.2,0.2,0.666667,3.333333,1.0,0.14,2.40,1.000000,0.666667,0.583333,0.833333
29,(product_2_Eggs),(product_3_Bread),0.2,0.3,0.2,1.000000,3.333333,1.0,0.14,inf,0.875000,0.666667,1.000000,0.833333
32,"(product_2_Butter, product_3_Eggs)",(product_1_Bread),0.2,0.3,0.2,1.000000,3.333333,1.0,0.14,inf,0.875000,0.666667,1.000000,0.833333
33,"(product_3_Eggs, product_1_Bread)",(product_2_Butter),0.3,0.3,0.2,0.666667,2.222222,1.0,0.11,2.10,0.785714,0.500000,0.523810,0.666667
36,(product_2_Butter),"(product_3_Eggs, product_1_Bread)",0.3,0.3,0.2,0.666667,2.222222,1.0,0.11,2.10,0.785714,0.500000,0.523810,0.666667
37,(product_1_Bread),"(product_2_Butter, product_3_Eggs)",0.3,0.2,0.2,0.666667,3.333333,1.0,0.14,2.40,1.000000,0.666667,0.583333,0.833333
72,"(product_3_Bread, product_2_Eggs)",(product_1_Milk),0.2,0.5,0.2,1.000000,2.000000,1.0,0.10,inf,0.625000,0.400000,1.000000,0.700000
73,"(product_3_Bread, product_1_Milk)",(product_2_Eggs),0.3,0.2,0.2,0.666667,3.333333,1.0,0.14,2.40,1.000000,0.666667,0.583333,0.833333
74,"(product_2_Eggs, product_1_Milk)",(product_3_Bread),0.2,0.3,0.2,1.000000,3.333333,1.0,0.14,inf,0.875000,0.666667,1.000000,0.833333
75,(product_3_Bread),"(product_2_Eggs, product_1_Milk)",0.3,0.2,0.2,0.666667,3.333333,1.0,0.14,2.40,1.000000,0.666667,0.583333,0.833333
76,(product_2_Eggs),"(product_3_Bread, product_1_Milk)",0.2,0.3,0.2,1.000000,3.333333,1.0,0.14,inf,0.875000,0.666667,1.000000,0.833333